### 문제1번
##### L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

In [12]:
L = [1,2,3,4,5]
print(L)

[1, 2, 3, 4, 5]

In [9]:
# 1번

L[1:3] = [100]
print(L)

[1, 100, 4, 5]

##### 1번 : 리스트의 슬라이싱 같은 경우 슬라이싱된 부분의 전체를 가리키기 때문에, 1번 인덱스부터 3번 인덱스 전, 즉 2번 인덱스까지의 부분을 통째로 수정하게 되므로 2, 3 대신에 100이 들어가게된다.

In [6]:
# 2번

L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

##### 2번 : 1번과 다른 점은 리스트 타입인 [100]에서 괄호가 추가되었는데, 이 때의 괄호는 우선순위를 뜻하는 것으로 사용되었기 때문에  1번 동작과 큰 차이점이 없다.

In [20]:
# 3번

L[1:3] = 100
print(L)

TypeError: can only assign an iterable

##### 3번 : 이번에는 []없이 그냥 100을 대입하고 있는데, L[] 슬라이싱은, 리스트를 반환하고 있기 때문에 타입이 맞지 않는다는 오류를 출력하며 작동하지 않는 것을 확인하였다.

In [22]:
# 4번

L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

##### 4번 : 2번 케이스와 마찬가지로 100에 ()는 우선순위 연산자로 사용되었기 때문에 역시 서로 타입이 맞지 않아 3번과 같은 오류 메시지가 출력된다.

In [26]:
# 5번

L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102, 4, 5]

##### 5번 : 여기서 사용된 ()은 ,와 함께 쓰이면서 튜플로 동작한다. 따라서 리스트에 튜플의 값들이 리스트 L의 1, 2번 인덱스 대신 들어간 것을 확인하였다.

In [41]:
# 6번

L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 5]

##### 6번 : 5번과 동일한 동작이지만, 이번에는 []를 사용한 리스트를 L에 대입하고 있다.

In [31]:
# 7번

L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 4, 5]

##### 7번 : 5번과 비교해서 밖에 []가 씌어진 형태이다. 즉, 리스트 안에 값으로 튜플 타입의 원소 하나가 들어있는 형태이고 그 튜플 자료형 안에 데이터 3개가 들어가있는 형태가 된다. 따라서 튜플 타입 그대로 대입이 되고 출력과 같은 데이터를 확인할 수 있다.

In [33]:
# 8번

L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 4, 5]

##### 8번 : 역시 6번 문제에서 7번 변경점을 적용한 형태이다. 동작은 7번과 비슷하나, L에는 리스트 형태의 데이터가 대입된 것을 알 수 있다.

### 문제 2번

##### 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.
##### 1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
##### 2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [19]:
S = 'Hello World and Python'
L = S.split()[::-1]
I = "".join(I.split())

print(L)
print(I)

['Python', 'and', 'World', 'Hello']
PythonandWorldHello

##### 1번 : S를 split할때, 확장슬라이스 옵션값을 -1로 설정하면 문자열 맨 뒷 문자부터 잘라서 리스트화해준다.
##### 2번 : 이를 다시 join하여 문자열로 만들었다.

### 문제3번
##### 다음 코드를 보고 물음에 답하시오.

In [39]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [40]:
a[0]=0
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

##### b : b는 a의 데이터 값을 3번 복사해서 대입해주고 있다. 따라서 a의 원소를 바꾼다고 해도 b의 값은 바뀌지 않는다.
##### c : c의 경우는 a라는 리스트를 3번 복사한 후, c에 대입해주는 형태인데, 파이썬은 기본적으로 동일한 객체를 참조하여 복사하므로, a리스트를 변경하면 c 안의 a 리스트를 참조한 리스트들도 같이 변경되는 것을 확인하였다.

### 문제4번
##### 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)

In [30]:
s = '  first star   :   second star   :    third star  '
l = []
s = s.split(':')
for i in s:
    l.append(i.strip())
    
print(l)

['first star', 'second star', 'third star']

##### 1)먼저 for문을 사용하여 s문자열을 필터링한 모습이다. s문자열을 : 기준으로 자르고 잘린 문자열 리스트의 원소들을 strip 연산을 통해 출력 결과와 같이 만들었다.

In [29]:
s = '  first star   :   second star   :    third star  '
l = [i.strip() for i in s.split(':')]

print(l)

['first star', 'second star', 'third star']

##### 2) 다음은 1번 형태를 리스트 내포를 이용하여 작성하였고 동일하게 작동한는 것을 확인하였다.

### 문제5번

##### 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.
##### 1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
##### 2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)

In [44]:
import functools

def addall(l) :
    sum = 0
    for i in l:
        if i > 0:
            sum += i
    return sum 

def addall2(l):
    sum = functools.reduce(lambda x,y: x+y, [i for i in l if i > 0])
    return sum


print(addall([1,2,3,4,5,6,7,8,9]))
print(addall2([1,2,3,4,5,6,7,8,9]))

45
45

##### 1) addall을 for문, 리스트 내포 방식으로 각각 만들었다. 리스트 내포 방식에서는 리스트의 값들을 모두 더해주기 위해, functools의 reduce 메서드를 사용하였고, 간단한 람다 함수를 사용하였다. 편의상 addall2로 네이밍하였다.

In [45]:
def addallodd(l) :
    sum = 0
    for i in l:
        if i % 2:
            sum += i
    return sum 

def addallodd2(l) :
    sum = functools.reduce(lambda x,y: x+y, [i for i in l if i % 2])
    return sum

print(addallodd([1,2,3,4,5,6,7,8,9]))
print(addallodd2([1,2,3,4,5,6,7,8,9]))

25
25

##### 2) 1과 크게 다르지 않게 만들었고 데이터를 필터링해주는 if문만 조건 수정을 해주었다.

### 문제6번
##### 다음 코드를 보고 물음에 답하시오.
##### 1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?
##### 2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)

In [56]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(d)
print(e)
print(f)

{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

##### 1) 파이썬의 =연산자는 기본적으로 깊은복사처럼 작동한다. 즉, e = d는 e가 d의 객체를 참조하는 형태로 복사가 되기 때문에 , d를 수정하면 당연히도 e까지 수정되는 것이다.

##### 2) f는 d의 copy를 사용하여 만든 객체이다. 리스트의 copy 연산자는 얕은 복사를 하기 때문에, d를 수정해도 f가 변경되지 않아, d['low'] = [10, 20, 30] 구문에서 변경점이 없다.
##### 하지만  d['high'][1] = 500는 변경되게 되는데, 이유는 결국 L2라는 리스트를 가지고 있는 dict d는 high에서 L2를 참조하고 있다. copy를 하더라도 리스트 L2를 참조하고 있고 L2의 f가 아닌 L2의 인덱스값을 변경하는 d['high'][1] = 500 구문에서는 같이 변경되는 것을 확인할 수 있다.

### 문제7번
##### 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오
##### 1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
##### 2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
##### 3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
##### 4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [120]:

d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
d = list(d.items())

# 1
d.sort(key=lambda x:x[0])
print(d)
# 2
d.sort(key=lambda x:x[0], reverse=True)
print(d)
# 3
d.sort(key=lambda x:x[1])
print(d)
# 4
d.sort(key=lambda x:x[1], reverse=True)
print(d)

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]
[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

##### 1번 : sort 킷값을 x[0]주어, 각 튜플의 첫번째 요소를 기준으로 오름차순 정렬이 되었다.
##### 2번 : key는 1번과 같지만, 내림차순 정렬을 위해 reverse 옵션을 True로 주었다.
##### 3번 : 이번에는 숫자를 기준으로 정렬하기 위해, x[1] 인덱스 기준으로 정렬하였다.
##### 4번 : 3번을 기준으로 reverse 옵션을 True로 주어 내림차순 정렬하였다.

### 문제8번

##### 다음 문제를 정확히 읽고 적합한 코딩을 제시하시오
##### length(X)를 다음과 같이 정의한다 : 10진수로 표현된 X의 자릿수
##### Strange라는 숫자를 아래과 같이 정의한다.
##### 음이 아닌 정수 중 자릿수가 1인 모든 숫자는 Strange이다.
##### length(X) > 1 인 숫자 X 는 다음 2가지를 만족하면 Strange이다.
##### X는 length(X)로 정확히 나누어 떨어진다.
##### X / length(X) 가 strnage이다.

In [47]:
def Length(n) :
    return len(str(n))

##### 먼저 숫자를 받아 그 숫자의 자릿수를 리턴해주는 함수를 만들었다.

In [52]:
def isStrange(num): 
    if Length(num) == 1: return True
    if Length(num) > 1 and num % Length(num) == 0: return isStrange(int(num/Length(num)))
    else: return False
    
print(isStrange(0))
print(isStrange(56))
print(isStrange(100))
print(isStrange(7882602506492313600))
print(isStrange(6012302549522098651))

True
True
False
True
False

##### 문제 조건을 확인했을 때, 먼저 True인 조건을 확인할 수 있었다. 끝까지 숫자가 끝까지 나누어 떨어져서, 자릿수가 1자리가 되면 그 숫자는 strange가 된다.
##### 그럼 나눠주는 조건은, num 자릿수가 1보다 크고, 그 숫자를 자릿수로 나누었을 때, 나누어 떨어진다면, 이는 strange가 될 수도 있는 num임으로 num에서 자릿수를 나눠준 값을 인자로하는 isStrange를 호출하여, 자릿수가 1자리가 나올때까지 반복해주는 재귀함수를 만들어준다. 위 조건이 아니라면 즉, 나누었을때, 나누어 떨어지지 않는다면, 이는 strange가 아니므로 False를 리턴해준다.

### 문제9번

##### 다음 문제를 정확히 읽고 적합한 코딩을 제시하시오.

##### 1번 그룹, 2번 그룹, ... n번 그룹으로 번호가 매겨진 총 n개의 그룹이 존재하고, ith 그룹에는 임의의 팀원 수 ai 명이 있다.
##### 하나의 버스 정류장이 있고, 버스는 오직 한 대만 운영한다. 버스는 버스 정류장에 도착하고 모든 그룹은 버스를 통해 여행하길 원한다.
##### 하지만, 같은 그룹에 속한 팀원들은 분리되기를 원치 않는다. 그래서 그룹의 모든 팀원이 탈 수 있을 때 에만 그 그룹은 버스에 탑승한다.
##### 또한, 이들은 그룹의 번호순으로 여행을 하길 원한다. 예를 들어, 3번 그룹은 1번 그룹과 2번 그룹이 여행을 한 뒤에 버스를 탈 수 있거나, 1번 그룹과 2번 그룹이 이미 버스에 탑승한 상태에 있을 때 동시에 버스를 탈 수 있다.
##### 마지막으로, 버스는 빈 좌석이 없을 때 에만 여행을 떠난다.

##### 이 문제에서 각 그룹의 팀원 수가 리스트로 주어질 때, 가능한 모든 버스의 사이즈 x(x명의 사람들이 동시에 탈 수 있음)를 반환하는 함수 solve(a) 를 작성하시오.
##### [주의] 반드시 계산 복잡도를 최대한 낮추세요. 아래 예시 3번을 실행했을 때 결과가 바로 나타날 수 있도록!!

In [66]:
def getDivisor(n):
    n = int(n)
    divisors = []
    divisors_back = [] 

    for i in range(1, int(n**(1/2)) + 1): 
        if (n % i == 0):            
            divisors.append(i)
            if (i != (n // i)): 
                divisors_back.append(n//i)
    return divisors + divisors_back[::-1]

def checkBus(a, x):     # a에는 그룹별 인원수가 들어있는 리스트, x에는 필터한 약수를 인자로 사용
  s = 0;                # 버스가 꽉차있는지 확인해주기 위해 정수형 변수 s를 0으로 초기화
  for i in a:          # 그룹를 기준으로 반복
    if(s + i > x): return False;   # 버스에 탄 사람(s)보다 버스 크기가 작으면 False
    elif(s + i == x): s = 0;        # 버스가 만승이면, 여행을 떠나기 때문에 다시 버스를 비운다.
    else: s += i                    # 버스에 태웠는데, 자리가 남으면, 그룹 수를 더하고, 다음 그룹을 확인
    
  return s == 0   # 리스트를 끝까지 확인했을때, s가 0, 즉 모두 여행을 완료했다면, True를 리턴

def solve(a):
  s = sum(a)
  m = max(a)
  divisors = [i for i in getDivisor(s) if i >= m]
  l = [i for i in divisors if checkBus(a, i)]    

  return l

print(solve([1, 2, 1, 1, 1, 2, 1, 3]))
print(solve([9999] * 10**5))

[3, 4, 6, 12]
[9999, 19998, 39996, 49995, 79992, 99990, 159984, 199980, 249975, 319968, 399960, 499950, 799920, 999900, 1249875, 1599840, 1999800, 2499750, 3999600, 4999500, 6249375, 7999200, 9999000, 12498750, 19998000, 24997500, 31246875, 39996000, 49995000, 62493750, 99990000, 124987500, 199980000, 249975000, 499950000, 999900000]

##### getDivisor 함수는 n을 인자로 받아, 약수를 구하고 리스트를 반환하는 함수이다.
##### 우선 문제를 들여다보면, n인승 버스에 꽉찼을 때만, 출발이 가능하며, 그룹 순서는 반드시 지켜야한다. 1차적으로 모든 그룹의 인원수의 약수로 이루어진 인승 버스만 가능하다는 것을 의미한다. 따라서 모든 리스트의 합을 구하고, 이의 약수를 구하였다. 또한 그룹 중 최대값보다 작은 인승의 버스는 애초에 불가능하기 때문에, 약수들 중 최대값보다 작은 약수를 먼저 필터링하였다. 
##### 이렇게 필터링된 약수들을 사용하여, 위 조건을 확인해준다. 코드와 같이 설명하고 싶기 때문에 자세한 설명은 코드 주석으로 하겠다.

In [121]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [153]:
import requests


def delete_tag(s, start_tag, end_tag):
    start = 0
    end = 0
    
    while True:
        start = s.find(start_tag)
        end = s.find(end_tag) + len(end_tag)
            
        if start == -1:
            break
        
        tmp = s.split(s[start:end], maxsplit=1)
        s = tmp[0] + '^' + tmp[1]
        
    return s

req = requests.get('http://cse.koreatech.ac.kr')

source = req.text

source = delete_tag(source, "<script", "</script>")
source = delete_tag(source, "<style", "</style>")
source = delete_tag(source, "<", ">")
source = source.replace('\n', "")
source = source.replace('\r', "")

source = source.split('^')


print(source)

result = []




for s in source:
    for c in string.punctuation:
            s = s.replace(c, "")
    result.append(s)

for _ in range(result.count('')):
    result.remove('')

['', '', '', '', '403 Forbidden', '', '', '', 'Forbidden', '', "You don't have permission to access this resource.", '', '', '']

['403 Forbidden',
 'Forbidden',
 'You dont have permission to access this resource']

### 소감
###### 마지막 문제가 정리를 못하고 제출해야하는 점이 아쉽다고 느꼈다. 
###### 다양한 파이썬의 신기한 문법을 사용하는 것이 재밌었다. 또한 알고리즘 문제도 다양한 접근을 해보면서 재밌다고 느꼈고 이런 과제가 더 많았음 좋겠다.